@import 'base/variables';
*{
    font-family: "MuseoModerno", sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;  
}
@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/advantages.scss';
@import 'media/promo_media.scss';
@import 'media/_advantages_media.scss'